.user-table {
  width: 100%;
  border-collapse: collapse;
  background: #0b0616;
  color: #fff;
  border-radius: 12px;
  border: 1px solid var(--color-secondary-border);
  overflow: hidden;
  table-layout: fixed;
  
}


.user-table-wrapper{
  border: 1px solid var(--color-secondary-border);
  border-radius: 12px;
  overflow: hidden; 
  width: 80%;
  margin-left: 50px;
}

.user-table th{
  padding: 25px 16px;
  font-weight: 600;
  width: 10px;
  font-size: 13px;
  text-align: left;
  border: 1px solid var(--color-secondary-border);

}

.user-table td {
  padding: 25px 16px;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  border: 1px solid var(--color-secondary-border);

}

.user-table thead {
  border: 1px solid var(--color-secondary-border);
  background: #160d26;
}

.user-table tr {
  border: 1px solid var(--color-secondary-border);

}

.user-table tr:last-child {
  border-bottom: none;
}

.user-table button{
  font-size: 10px;
  cursor: pointer;
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #fff;
  background-color: var(--color-secondary-border);
}
.user-table td:nth-child(2) span {
  font-weight: 300;
  padding: 6px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--color-secondary-border);
}

/* Class Name */
.user-table th:nth-child(1),
.user-table td:nth-child(1) {
  width: 15%;
}

/* Method */
.user-table th:nth-child(2),
.user-table td:nth-child(2) {
  width: 15%;
}

/* URL */
.user-table th:nth-child(3),
.user-table td:nth-child(3) {
  width: 20%;
}

.admin-page{
  position: relative;
  left: 40%;
  top:20%;
}

.admin-page .admin-login-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #160d26;
  border: 1px solid #3d3257;
  border-radius: 10px;
  width: 240px;
  padding: 20px;
}

.admin-login-box .input-wrapper{
  position: relative;
}
.admin-login-box label{
  text-align: left;
  position: absolute;
  font-size: 0.85rem;
  font-weight: 500;
  transform: translateY(9px);
  left: 10px;
  transition: 0.3s ease;
 pointer-events: none;
}

.admin-login-box label:focus{
  transform: translateY(0px);
}


.admin-login-box input{
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  height: 40px;
  color: var(--color-primary-text);
  border: none;
  outline: none;
  background: rgba(140, 90, 255, 0.15);

}

.admin-login-box .admin-login-btn{
  padding: 10px 25px;
  border: none;
  outline: none;
  background: var(--color-button);
  border-radius: 50px;
  color: #fff;
   transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.admin-login-box .admin-login-btn:hover{
 transform: scale(1.05);
  box-shadow: 2px 4px 12px rgba(140, 90, 255, 0.582);

}