.card-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border: 1px solid var(--color-primary-border);
  border-radius: 10px;
}

.card{
  text-align: center;
}

.card-title{
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-title);
  
}

.card-box:hover{
  background:#b19ef06c;
}

.card-value{
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-secondary-text);
}