.dashboard{
  display: grid;
  grid-template-columns: 3fr, 3fr;
  gap: 20px;
  align-items: start;
}

.card-box{
  display: flex;
  flex-direction: column;
  grid-column: 1/auto;
}


 .table-box{
  grid-column: 4/6;
}

.table-import{
  grid-column: 4/6;
  grid-row: 2/4;
}


.bar-chart{
  grid-column: 1/4;
  grid-row: 2;
  padding: 10px;
  border: 1px solid var(--color-secondary-border);
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow:
    inset 0 10px 12px -1 0px rgba(0, 0, 0, 0.7),
    inset 0 -10px 12px -10px rgba(0, 0, 0, 0.7);
}

.bar-chart::-webkit-scrollbar {
  height: 6px;
}


.bar-chart::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

.graph-chart{
  grid-column: 1/4;
  grid-row: 4;
  padding: 10px;
  border: 1px solid var(--color-secondary-border);
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow:
    inset 0 10px 12px -1 0px rgba(0, 0, 0, 0.7),
    inset 0 -10px 12px -10px rgba(0, 0, 0, 0.7);
}

.graph-chart::-webkit-scrollbar {
  height: 6px;
}


.graph-chart::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}


.title-text{
  color: white;
  padding: 20px;
}