.upload-box label {
  display: inline-block;
  background-color: var(--color-primary);
  padding: 10px 15px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.home-page p{
  margin-bottom: 20px;
}

.upload-box label:hover{
  transform: scale(1.05);
  box-shadow: 5px 4px 12px rgba(140, 90, 255, 0.582);
}