
.analytic-box{
    background-color: #f9fafb;
}


.grid-box{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    padding: 20px;
}

.table-box{
    padding: 20px;
    margin: 20px 10px ; 
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 1/3;
}

.bar-box{
    padding: 10px 40px  10px  0px ;
    width: 300px;
    margin: 20px 10px ; 
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.bar-box p{
    color: rgba(26, 24, 24, 0.685);
    font-weight: 600;
    padding: 20px 30px;
}

.line-box{
    padding: 20px;
    margin: 20px 10px ; 
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    border-radius: 10px;
    
}