.navbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.nav-left{
  margin: 12px 10px;
}

.nav-right{
  display: inline-flex;
  margin-right: 10px;
  gap: 12px;
}


.nav-left .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-left .logo img {
  filter: invert(1);
  height: 30px;
}


.nav-left .logo p {
  font-size: 1.02rem;
  color: var(--color-primary-text);
  cursor: pointer;
}

.nav-right button:nth-child(2){
  background: var(--color-button);
  color: white;
  padding: 10px 40px;
  outline: none;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

.nav-right button:nth-child(2):hover{
    transform: translateY(-4%);
  box-shadow:  0 2px 8px var(--color-button);
}

.nav-right button:nth-child(1){
  border: 1px solid var(--color-border);
  padding: 10px 14px;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
}

.nav-right button:nth-child(1):hover{
   background: #352c4aa6;
}

.navbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;

  background: linear-gradient(
    90deg,
    transparent,
     var(--color-secondary-border),
    transparent
  );
}

.drop-down{
  position: relative;
}

.drop-menu-items {
  position: absolute;
  top: 110%;
  right: 10%;
  min-width: 120px;

  background: #160d26;
  border: 1px solid #3d3257;
  border-radius: 10px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.35);

  opacity: 0;
  transform: translateY(8px);
  animation: dropdownFade 0.25s ease forwards;
}



.drop-menu-items ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

.drop-menu-items li {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
}

.drop-menu-items li:hover {
  background: rgba(140, 90, 255, 0.15);
}

.drop-menu-items li span{
    color: var(--color-title);
    font-size: 13px;
    font-weight: 800;
}


@keyframes dropdownFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}