.sidebar-page {
  height: 100vh;
  padding: 8px 18px;
  background: var(--color-primary);
  position: relative;
  z-index: 0;
}

.close{
  width: 66px;
  transition: all 0.4s ease;
  
}

.open{
  width: 200px;
  transition: all 0.4s ease;
}

.sidebar-logo{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 23px;
}

.sidebar-logo .cross-logo{
    margin-left: 140px;
}


.sidebar-logo span{
  padding: 6px 10px ;
  color: var(--color-secondary-text);
  border-radius: 50px;
  background-color: #fff;
  padding-bottom: 4px;
  background: transparent;
}

.sidebar-logo span:hover{
 color: #fff;
}

.sidebar-logo span::after{
  content: "";
  position: absolute;
  left: 0%;
  bottom: 92%;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
     var(--color-secondary-border),
    transparent
  );
}


/* Section wrapper */
.section {
  margin-bottom: 28px;
  padding-left: 14px;
}

/* Vertical line */
.section-items::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1px;
  height: 100%;
  background: #352c4ae5;
}

/* Section title */
.section-title {
  font-size: 13px;
  margin-bottom: 12px;
  color: var(--color-secondary-text);

}

/* Items */
.section-items {
  position: relative;
  display: flex;
  padding-left: 16px;
  flex-direction: row;
  line-height: 2.3;
  gap: 10px;
  align-items: center;
  color: var(--color-secondary-text);
}

/* Item */
.section-items span {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transform: translateX(0%);
  transition: all 0.2s ease;
}

/* Hover */
.section-items span:hover {
  color: #fff;
  transform: translateX(12%);
}

/* Active item */
.active span{ 
  color: #fff;
  transform: translateX(12%);
}


.sidebar-page::after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
     var(--color-secondary-border),
    transparent
  );
}

.sidebar-close{
  margin: 0;
  padding: 0;
}

.section-close{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-close-items{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 38px;
 min-width: 40px;
 margin-bottom: 8px;
 cursor: pointer;
}

.section-close-items:hover{
 border-radius: 8px;
 background: rgba(140, 90, 255, 0.15);
}


.menu-item-wrapper {
  position: relative;
}

/* Tooltip default */
.item-menu-box {
  position: absolute;
  left: 60px;
  top: 42%;
  transform: translateY(-50%);
  font-size: 12px;
  padding: 6px 12px;
  background: black;
  border-radius: 8px;
  color: white;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show tooltip when hovering ICON */
.menu-item-wrapper:hover .item-menu-box {
  opacity: 1;
  transform: translateY(-50%) translateX(4px);
}


.menu-text {
  white-space: nowrap;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.sidebar-page.closed .menu-text {
  opacity: 0;
  transform: translateX(-10px);
  pointer-events: none;
}

.section-title {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.sidebar-page.closed .section-title {
  opacity: 0;
  transform: translateX(-10px);
}

