.sidebar-page {
  width: 220px;
  height: 100vh;
  padding: 24px 18px;
  background: var(--color-primary);
  position: relative;
  z-index: 0;
}

/* Section wrapper */
.section {
  margin-bottom: 28px;
  padding-left: 14px;
}

/* Vertical line */
.section-items::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1px;
  height: 100%;
  background: #352c4ae5;
}

/* Section title */
.section-title {
  font-size: 13px;
  margin-bottom: 12px;
  color: var(--color-secondary-text);

}

/* Items */
.section-items {
  position: relative;
  display: flex;
  padding-left: 16px;
  flex-direction: row;
  line-height: 2.3;
  gap: 10px;
  align-items: center;
  color: var(--color-secondary-text);
}

/* Item */
.section-items span {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transform: translateX(0%);
  transition: all 0.2s ease;
}

/* Hover */
.section-items span:hover {
  color: #fff;
  transform: translateX(12%);
}

/* Active item */
.active span{ 
  color: #fff;
  transform: translateX(12%);
}


.sidebar-page::after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
     var(--color-secondary-border),
    transparent
  );
}