.table {
  width: 100%;
  border-collapse: collapse;
  background: #0b0616;
  color: #fff;
  border-radius: 12px;
  border: 1px solid var(--color-secondary-border);
  overflow: hidden;
  table-layout: fixed;
}


.table-wrapper{
  border: 1px solid var(--color-secondary-border);
  border-radius: 12px;
  overflow: hidden; 
  width: 80%;
}

.table th{
  padding: 25px 16px;
  font-weight: 600;
  width: 10px;
  font-size: 13px;
  text-align: left;
  border: 1px solid var(--color-secondary-border);

}

.table td {
  padding: 25px 16px;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  border: 1px solid var(--color-secondary-border);

}

.table thead {
  border: 1px solid var(--color-secondary-border);
  background: #160d26;
}

.table tr {
  border: 1px solid var(--color-secondary-border);

}

.table tr:last-child {
  border-bottom: none;
}

.table td:nth-child(2) span {
  font-weight: 300;
  padding: 6px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--color-secondary-border);
}

/* Class Name */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 15%;
}

/* Method */
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 15%;
}

/* URL */
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 20%;
}